h1 {
    text-align: center;
}
body{
    margin: 40px;
}
#main {

    box-sizing: border-box;
    width: 500px;
    padding: 15px;
    border: 2px solid black;
    box-shadow: -10px 10px 2px 2px #2c3333;
    margin: 20%;


}
p {
    box-sizing: border-box;
    width: 350px;
    border: 1px solid black;
    border-radius: 7px;
    /*15px top and bottom, 25px left and right*/
    padding: 15px 25px;
    /*top-right-bottom-left

    margin: 75px 100px 10px 40px
    */
    margin: 15px auto;
}