* {
    box-sizing: border-box;
    margin: 0;

}
header, main {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1em;
    background: darkorange;
}
main {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}
:root {
    --gold: #d9a420;
    --dark: #333
}
nav {
    background: var(--dark);
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana, serif;
    display: inline-block;/*inline-block to increase clickable area beyond
    the text*/
    padding: 1em;/*increases clickable area of anchor tags on all sides by 1em*/
}
nav a:hover {
    background: black;
}
nav ul li:nth-child(4) {
    /*this allows the last flex item to be right justified by filling remaining space
    to the left of the flex with margin*/
    margin-left: auto;
}
body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace, Helvetica;
    font-weight: bold;

}
.flex-container {
    display: flex;/*declares this as a flex-box container and will make any children a flex item*/
    /*flex-direction: column;*/
    /*flex-direction: row-reverse;*/
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /*justify-content: space-around;*/
    justify-content: space-between;
    /*justify-content: center;*/
    /*justify-content: space-evenly;*/
    /*align-items: flex-start*/
    /*align-items: flex-end*/
    align-items: center;

    height: 50vh;
    width: 100%;
    border: 5px solid var(--gold);
    /*padding: 1rem;*/
    /*margin: 1rem;*/
}
.flex-item {
    /*now shows as inline-level elements*/
    position: absolute;
    background: #bfd45d;
    border: 2px solid #f9efd6;
    padding: 1em;

}

.box1 {

    font-size: 16px;
    background: #bfd45d;
    border: 2px solid #f9efd6;
    padding: 1em;
    width: 20%
    height: auto;

}
.box2 {

    font-size: 2rem;
    background: #bfd45d;
    border: 2px solid #f9efd6;
    padding: 1em;
    width: 20%;
    height: auto;

}
.box3 {

    font-size: 34px;
    background: #bfd45d;
    border: 2px solid #f9efd6;
    padding: 1em;
    width: 20%;
    height: auto;

}
.box4 {
    font-size: 32px;
    background: #bfd45d;
    border: 2px solid #f9efd6;
    padding: 1em;
    width: 20%;
    height: auto;

}
.box5 {

    font-size: 38px;
    text-align: center;
    background: #bfd45d;
    border: 2px solid #f9efd6;
    padding: 1em;
    width: 20%
    height: auto;
}
/*body {*/
/*    !*margin: 0;*!*/
/*    font-family: Roboto;*/
/*    background: orange;*/
/*}*/
h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}
h3 {
    color: grey;
}
hr {
    border-top: 1px solid whitesmoke;
    width: 90px;
}
.cardholder {
    background: orange;
    padding: 1em;
}
.card {
    margin: .5em;
    border-radius: 2px;
    background: white;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
img {
    border-radius: 120px;
    width: 120px;
}
i {
    color: grey;
}
.icons {
    width: 160px;
    display: flex;
    justify-content: space-evenly;
}
.text-section {
    position: relative;
    bottom: 1.5em;
}
.icons i {
    font-size: 2.2em;
}