* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace, Helvetica;
    font-weight: bold;

}
.flex-container {
    display: flex;/*declares this as a flex-box container and will make any children a flex item*/
    /*flex-direction: column;*/
    /*flex-direction: row-reverse;*/
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /*justify-content: space-around;*/
    /*justify-content: space-between;*/
    /*justify-content: center;*/
    /*justify-content: space-evenly;*/
    /*align-items: flex-start*/
    /*align-items: flex-end*/
    /*align-items: center;*/
    align-items: baseline;
    height: 100vh;
    width: 100%;
    border: 5px solid goldenrod;
    /*padding: 1rem;*/
    /*margin: 1rem;*/
}
.flex-item {
    /*now shows as inline-level elements*/
    position: absolute;
    background: #bfd45d;
    border: 2px solid #f9efd6;
    padding: 1em;

}

.box1 {
    font-size: 15px;
    background: #bfd45d;
    border: 2px solid #f9efd6;
    padding: 1em;

}
.box2 {
    font-size: 30px;
    background: #bfd45d;
    border: 2px solid #f9efd6;
    padding: 1em;

}
.box3 {
    font-size: 45px;
    background: #bfd45d;
    border: 2px solid #f9efd6;
    padding: 1em;

}
.box4 {
    font-size: 60px;
    background: #bfd45d;
    border: 2px solid #f9efd6;
    padding: 1em;

}
.box5 {
    font-size: 75px;
    background: #bfd45d;
    border: 2px solid #f9efd6;
    padding: 1em;

}