.fancy-header {
    color: #3e04b4;
    text-decoration: underline;
    text-decoration-color: navy;
    text-align: center;
}
body {
    background-color: lightslategray;
    color: papayawhip;
    font-family: 'JetBrains Mono', monospace, serif;
    padding: 15px;
    background-image: url(../img/background_gray_waterdrops.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 140px;


}

ul {
    list-style: square;
}
table {
    border: thin solid blue;
    border-collapse: collapse;
    letter-spacing: .03rem;
    font-size: 1.2rem;

}
th {
    background-color: gray;
}
td {
    background-color: lightslategray;
}

th, td {
    border: thin solid blue;
    padding: 10px;

}
strong {
    color: black;
}
em {
    color: black;
}
h2 {
    color: #0755c9;
    text-decoration: underline;
    text-decoration-color: darkblue;
}

a {
    color: lightcyan;
}


a:hover {
    background: lightslategray;
    color: #060660;
}

a:visited {
    color:black;
}

a:active {
    background-color: #023f02;
    color: black;
}