* {
    box-sizing: border-box;
}
:root {
    --main-bg: #e6ecf0;
    --link-color: #3b94d9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --seperator-color: #DDD;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("../img/background-ocean-cliff copy.png");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;

}
.nav-item {
    display: inline-block;
    padding: 1.5em;
}
a {
    color: var(--link-color);

}
.top-nav {
    background: var(--light-bg);
    position: fixed;
    width: 100%;
    z-index: 1;
    
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
    float: left;
    padding: 1.5em;

}
.profile-image {
    position: absolute;
    top: 33%;

}
.profile {
    background: var(--light-bg);
    height: 80px;
}
.profile-form {
    float: right;
    line-height: 80px;

}
.profile-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.profile-entry {
    margin: .5em;
}
.profile-details {
    width: calc(25% - 1em);
    float: left;
    margin: 0 .5em;
}
.timeline {
    margin: 0 .5em;
    width: calc(50% - 1em);
    float: left;

}
.who-to-follow {
    margin: 0 .5em;
    width: calc(25% - 1em);
    float: right;
}
/*.timeline, .who-to-follow {*/
/*    float: right;*/
/*    margin: 0 .5em;*/
/*}*/
.container {
    margin: 2em;
}
.media {
    width: 100%;
    background: var(--light-bg);
    border-bottom: 1px solid var(--seperator-color);
    padding: .5em;
    overflow: auto;
}
.media-image {
    max-width: 50px;
    float: left;
    margin-top: 1.33em;
}
.media-body {
    float: right;
    width: calc(100% - 50px);
}
.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;

}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}